<div class="container">
  <div class="row">
    <h1>Eat Da Burger!</h1>
  </div>
  <!--  -->
  <div class="row">
    <div class="col">
      <ul class="list-group">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="list-group-item">
          {{this.burger_name}}
          <button onclick="devour({{this.id}})" id="devour" class="btn btn-primary" type="submit">Devour</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <ul class="list-group">
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-group-item">
          {{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
    <form action="/api/burgers" method="post" class="input-group mb-3">
      <input name="burger_name" type="text" class="form-control" placeholder="new burger" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="add">Add</button>
    </form>
  </div>
</div>